@charset "utf-8";

:root {
	
	--gray900:#212121;
	--gray800:#424242;
	--gray700:#616161;
	--gray600:#757575;
	--gray500:#9E9E9E;
	--gray400:#BDBDBD;	
	--gray300:#E0E0E0;
	--gray200:#EEEEEE;
	--gray100:#F5F5F5;
	--gray50:#FAFAFA;
	
	--black:#000;
	--white:#fff;	

	--primary: #FFF3E0;
	--secondary: #FFE0B2;
	
	--f-sz-s : 1.2rem;
	--f-sz-m : 1.4rem;
	--f-sz-l : 1.6rem;
	--f-sz-xl : 1.8rem;
	--f-sz-h3 : 2rem;
	--f-sz-h2 : 2.2rem;

	--mt-x : .4rem;
	--mt-x2 : .8rem;
	--mt-x3 : 1.2rem;
	--mt-x4 : 1.6rem;
	--mt-x5 : 2rem;
	--mt-x6 : 2.4rem;
	--mt-x7 : 2.8rem;
	--mt-x8 : 3.2rem;
	--mt-x9 : 3.6rem;
	--mt-x10 : 4rem;

	--mb-x : .4rem;
	--mb-x2 : .8rem;
	--mb-x3 : 1.2rem;
	--mb-x4 : 1.6rem;
	--mb-x5 : 2rem;
	--mb-x6 : 2.4rem;
	--mb-x7 : 2.8rem;
	--mb-x8 : 3.2rem;
	--mb-x9 : 3.6rem;
	--mb-x10 : 4rem;
}

:root.dark {

	--gray900:#FAFAFA;
	--gray800:#F5F5F5;
	--gray700:#EEEEEE;
	--gray600:#E0E0E0;
	--gray500:#BDBDBD;
	--gray400:#9E9E9E;
	--gray300:#757575;
	--gray200:#616161;
	--gray100:#424242;
	--gray50:#212121;

    --black:#fff;
	--white:#000;

	--primary: #FFF3E0;
	--secondary: #FFE0B2;


}


:root a {
	color: var(--black);
}

