@charset "utf-8";



/* ***************
NotoSansKR :: 국문
*************** */
@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:
        url('../../resources/font/Noto_Sans_KR/notokr-thin.ttf') format('woff2'),
        url('../../resources/font/Noto_Sans_KR/notokr-thin..woff') format('woff'),
        url('../../resources/font/Noto_Sans_KR/notokr-thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
        url('../../resources/font/Noto_Sans_KR/notokr-light.woff2') format('woff2'),
        url('../../resources/font/Noto_Sans_KR/notokr-light.woff') format('woff'),
        url('../../resources/font/Noto_Sans_KR/notokr-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        url('../../resources/font/Noto_Sans_KR/notokr-demilight.woff2') format('woff2'),
        url('../../resources/font/Noto_Sans_KR/notokr-demilight.woff') format('woff'),
        url('../../resources/font/Noto_Sans_KR/notokr-demilight.ttf') format('truetype');
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('../../resources/font/Noto_Sans_KR/notokr-regular.woff2') format('woff2'),
        url('../../resources/font/Noto_Sans_KR/notokr-regular.woff') format('woff'),
        url('../../resources/font/Noto_Sans_KR/notokr-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        url('../../resources/font/Noto_Sans_KR/notokr-medium.woff2') format('woff2'),
        url('../../resources/font/Noto_Sans_KR/notokr-medium.woff') format('woff'),
        url('../../resources/font/Noto_Sans_KR/notokr-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        url('../../resources/font/Noto_Sans_KR/notokr-medium.woff2') format('woff2'),
        url('../../resources/font/Noto_Sans_KR/notokr-medium.woff') format('woff'),
        url('../../resources/font/Noto_Sans_KR/notokr-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        url('../../resources/font/Noto_Sans_KR/notokr-bold.woff2') format('woff2'),
        url('../../resources/font/Noto_Sans_KR/notokr-bold.woff') format('woff'),
        url('../../resources/font/Noto_Sans_KR/notokr-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
        url('../../resources/font/Noto_Sans_KR/notokr-bold.woff2') format('woff2'),
        url('../../resources/font/Noto_Sans_KR/notokr-bold.woff') format('woff'),
        url('../../resources/font/Noto_Sans_KR/notokr-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        url('../../resources/font/Noto_Sans_KR/notokr-black.woff2') format('woff2'),
        url('../../resources/font/Noto_Sans_KR/notokr-black.woff') format('woff'),
        url('../../resources/font/Noto_Sans_KR/notokr-black.ttf') format('truetype');
}



/* ***************
Roboto :: 영문, 숫자
*************** */
@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:
        /* url('../../resources/font/Roboto/RobotoMono-Thin.woff2') format('woff2'), */
        url('../../resources/font/Roboto/RobotoMono-Thin.woff') format('woff'),
        url('../../resources/font/Roboto/RobotoMono-Thin.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
        /* url('../../resources/font/Roboto/RobotoMono-Light.woff2') format('woff2'), */
        url('../../resources/font/Roboto/RobotoMono-Light.woff') format('woff'),
        url('../../resources/font/Roboto/RobotoMono-Light.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        /* url('../../resources/font/Roboto/RobotoMono-ExtraLight.woff2') format('woff2'), */
        url('../../resources/font/Roboto/RobotoMono-ExtraLight.woff') format('woff'),
        url('../../resources/font/Roboto/RobotoMono-ExtraLight.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        /* url('../../resources/font/Roboto/RobotoMono-Regular.woff2') format('woff2'), */
        url('../../resources/font/Roboto/RobotoMono-Regular.woff') format('woff'),
        url('../../resources/font/Roboto/RobotoMono-Regular.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        /* url('../../resources/font/Roboto/RobotoMono-Medium.woff2') format('woff2'), */
        url('../../resources/font/Roboto/RobotoMono-Medium.woff') format('woff'),
        url('../../resources/font/Roboto/RobotoMono-Medium.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        /* url('../../resources/font/Roboto/RobotoMono-SemiBold.woff2') format('woff2'), */
        url('../../resources/font/Roboto/RobotoMono-SemiBold.woff') format('woff'),
        url('../../resources/font/Roboto/RobotoMono-SemiBold.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        /* url('../../resources/font/Roboto/RobotoMono-Bold.woff2') format('woff2'), */
        url('../../resources/font/Roboto/RobotoMono-Bold.woff') format('woff'),
        url('../../resources/font/Roboto/RobotoMono-Bold.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
        /* url('../../resources/font/Roboto/RobotoMono-Bold.woff2') format('woff2'), */
        url('../../resources/font/Roboto/RobotoMono-Bold.woff') format('woff'),
        url('../../resources/font/Roboto/RobotoMono-Bold.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Base';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        /* url('../../resources/font/Roboto/RobotoMono-Bold.woff2') format('woff2'), */
        url('../../resources/font/Roboto/RobotoMono-Bold.woff') format('woff'),
        url('../../resources/font/Roboto/RobotoMono-Bold.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}